<h1>Booking ID: <%= @booking.id %></h1>
<h4><%= @booking.property.description %></h4>
<p>Price: <%= @booking.property.price %></p>
<p>Date: <%= @booking.date %></p>
<a href="/bookings/<%=@booking.id%>/edit">Edit Booking</a>
<p><a href="/home">Home</a></p>
<form action="/sessions" method="post">
  <input name="_method" type="hidden" value="delete" />
  <input type="submit" value="Logout">
</form>